
body{font-size:13px;color:#333;min-height:100%;margin:0;font-family:"Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica","Arial","Verdana","sans-serif"; }
ul li{list-style-type:none;}
.header{}
.footer{height: 60px;background: #fff;border-top: 1px solid #eee;clear:both;margin-top:50px;}
.warpper{position:relative;width:100%;padding:1px 0;}/*padding:avoid the body have margin-top:8px in safari */
.content{margin:0 auto;padding:15px 0;width:1000px;min-height:600px;}

.vertical-menu{padding:2px;border:1px solid #bbb;border-top:3px solid #85BBEF;background-color:#fff;}
.vertical-menu p.title{background-color:#fff;font-weight:bold; text-align:center;padding:3px 0;border-bottom:1px solid #bbb;}
.vertical-menu a{color:rgb(0,100,200);padding:3px 5px; display:block;text-decoration:none;border:1px solid #fff;}
.vertical-menu a:hover, .vertical-menu .cur{border:1px solid #85BBEF; background-color:#C6E0FA;}

.warpper p.table_title{font-size:14px; font-weight:bold;color:#555;text-align:left;padding:3px 5px;}
.warpper table{width:100%;margin-bottom:30px;background-color:#fff;border-top:1px solid #ccc;}
.warpper tbody th, .warpper li.head{font-size:12px;border-bottom:1px solid #bbb; border-right:1px solid #C1B4FC;font-weight:bold;text-align:center;padding:5px 0;background-color: #ccccff;min-width:70px;}
.warpper tbody td, .warpper ul li{border-bottom:1px solid #ddd;padding:5px 3px;color:#333;}


.success, .error{position:relative;padding: 1em 0;text-align: center;width: 60%;margin: 2em auto;border: 1px solid transparent;border-radius: 4px;}
.success p, .error p{margin-top:.5em;}
.success a.close, .error a.close{position:absolute; top:2px; right:5px; color:#666;font-size:60%;text-decoration:none;}
.success a.close:hover, .error a.close:hover{color:#000;}
.success {  background-color: #F0EED8; color:green;}
.success a.link{font-size:80%;margin-left:10px;}
.error {background-color: #f2dede;color:#a94442;border-color: #ebccd1;}

.no-data{text-align:center;color:#bbb;font-size:80%;padding:10px 0;}
.back{font-size:65%;color:rgb(92, 92, 245);float:right;display:inline-block;vertical-align:bottom;text-decoration:none;}
.back:hover{color:blue;}

.align-center{margin:0 auto;display:block;} /* blocked for some frames like 'div' */
.pure-g{  letter-spacing: 0;}
.custom-restricted-width {display: inline-block;}
.pure-u-1-6 .pure-menu{margin: 50px 0 0 30px;padding: 6px 0;}
.page-num-menu{display:inline-block;width:inherit;float:right;}
.oper-bar{margin-top:13px;}
.oper-bar-pop{position:fixed;bottom:0;background-color:white;width:850px;}

.ptitle{border-bottom: 1px solid #eee;padding: 20px 10px;margin-bottom:35px;font-size:20px;color:#4078c0;}
.ptitle span{font-size:13px;color:#666;margin-left:10px;}
.required{color:red;}
.shortcut-a{text-decoration:none;font-size:12px;}
.pure-button-check{font-size:80%;padding:4px;background-color: white;border: 1px solid #ddd;}
.pure-button-check:hover{border-color:#888;}
.pure-button-checked{border: 2px solid #08c !important;padding:3px;}
.pure-table-horizontal{border-left:0;border-right:0;}
.row-onmouseover{background-color:#fffeee;}
.page-break{}
.page-break .pure-menu-item{border:0;font: 14px arial;}
.page-break .pure-menu-link{padding: .5em .8em;border:1px solid #ddd;color: green;}
.page-break .pure-menu-link:hover{border:1px solid green;background-color:white;}
.page-break .pure-menu-selected{font-weight:bold;color:#333;}

.popwin-mask{position:fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #000;filter: alpha(opacity = 35);-moz-opacity: .35;-khtml-opacity: .35;opacity: .35;z-index: 11;}
.popwin{position:fixed;z-index:9999;width:65%;height:70%;top:10%;left:17%;background-color:white;border:2px solid #aaa;border-radius: 5px;}
.popwin div.pwtitle{padding:6px 0;font-weight:bold;position:relative;text-align:center;background-color:#f4f7f9;}
.popwin div.pwtitle a{font-size:14px;position:absolute;right:3px;top:3px;text-decoration:none;color:#999;}
.popwin div.pwtitle a:hover{color:#333;}
.popwin div.bd{width:100%;height:90%;}
.popwin ::-webkit-scrollbar{width:6px;height:6px}
.popwin ::-webkit-scrollbar-thumb{-webkit-border-radius: 3px;webkit-border-radius: 3px;background-color: #c3c3c3;}
.popwin-m{width:40%;height:50%;top:20%;left:30%;}
.popwin-s{width:20%;height:13%;top:30%;left:40%;}
.popwin-f{width:100%;height:100%;top:0;left:0;}
.popwin .error, .popwin .success{width:100%;background-color:#fff;padding:0;margin-top:8%;}

#img-lab-bg{width:67px ;height:67px ;position:relative;display:inline-block;overflow: hidden;margin:0 3px 0 0;}
#img-lab{position:absolute;top:0;left:0;line-height:55px;font-size:50px;text-align:center; width:65px;height:65px;}
.img-lab-add{color:#7DB8EC;border:1px dashed #ccc;background-color:#fff;overflow:hidden;}
.img-lab-del{color:red;border:1px dashed red;visibility:hidden;}
.img-name{position:absolute;bottom:0;left:0;margin:1px;font-size:12px;width: 63px;overflow: hidden;text-align:center;}
#img-lab-bg input{width:10px;margin:2px;float:right;border:0;}

.txt-counter{position:absolute;font-size:60%;color:#888;}

/*
 * -- PURE MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
}
.home-menu ul { float: right; }
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.main-content{} /* 100: home menu height */

.button-success,
 .button-error,
 .button-warning,
 .button-secondary {
     color: white;
     border-radius: 4px;
     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 }

 .button-success {
     background: rgb(28, 184, 65); /* this is a green */
 }

 .button-error {
     background: rgb(202, 60, 60); /* this is a maroon */
 }

 .button-warning {
     background: rgb(223, 117, 20); /* this is an orange */
 }

 .button-secondary {
     background: rgb(66, 184, 221); /* this is a light blue */
 }
 

