html, body, p, h1, h2, h3, h4, h5, h6, table, tr, td, input, button, textarea, ul, ol, li, dl, dt, dd, div, img, form, fieldset, legend, p, iframe {
  padding: 0;
  margin: 0; }

input, button, select, textarea {
  outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

textarea {
  resize: none; }

img, input, button {
  border: none; }

li {
  list-style: none; }

img {
  vertical-align: top;
  height: auto; }

body a {
  outline: none;
  blr: expression(this.onFocus=this.blur()); }

body {
  font-family: "Heiti SC","Droid Sans","Helvetica Neue","Microsoft YaHei",Helvetica,Arial,sans-serif; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
