.title-color{color: #456eaa;}
.tuisong {
    padding: 0 14px;
    min-width: 1069px;
    _width: 1069px; }
.tuisong .tit {
    border-bottom: 1px solid #ebebeb;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    color: #333;
    margin-bottom:10px;
    position: relative; }
.tuisong .tit .tips {
    font-size: 14px;
    margin-left: 8px; }
.tuisong .tit .btn-create {
    width: 80px;
    height: 28px;
    line-height: 28px;
    color: #333333;
    font-size: 14px;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 3px;
    position: absolute;
    right: 2px;
    top: 11px;
    border:1px solid #c5c5c5;
}
.back-icon{
    display: inline-block;
    width:10px;
    height:10px;
    margin-right: 5px;
    background: url("../images/ico-back_03.png") no-repeat;
}
.tuisong .searchBox {
    display: inline-block;
    padding: 12px 0 17px;
    min-width: 1097px; }
.tuisong .searchBox:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.tuisong .searchBox .label-word {
    width: 88px;
    height: 24px;
    line-height: 24px;
    text-align: right;
    color: #5a5a5a;
    font-size: 12px;
    float: left; }
.tuisong .searchBox .inp-keyWord {
    width: 106px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    float: left;
    padding: 0 8px; }
.tuisong .searchBox .sel-format {
    width: 106px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    float: left;
    font-size: 12px;
    color: #adadad;
    text-indent: 8px;
    display: block; }
.tuisong .searchBox .btn-search {
    width: 47px;
    height: 24px;
    float: left;
    margin-left: 20px;
    _margin-left: 10px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #4f4f4f;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    background-color: #f0f0f0;
    font-weight: bold; }
.tuisong .box-tabel {
    width: 100%; }
.tuisong .box-tabel .top {
    width: 100%;
    height: 32px;
    background: url(../images/bg-headChart.jpg) repeat-x;
    display: inline-block;
    font-size: 12px;
    color: #333;
    line-height: 32px;
    position: relative; }
.tuisong .box-tabel .top:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.tuisong .box-tabel .top .checkAll {
    position: absolute;
    left: 14px;
    top: 9px; }
.tuisong .box-tabel .top .piyue {
    /*border-left: 1px solid #ced7e2;*/
    padding-left: 20px; }
.tuisong .box-tabel .top .piyue-cont {
    width: 70px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 100px;
    border-left: 1px solid #ced7e2;
    padding-left: 10px }
.tuisong .box-tabel .top .piyue-create {
    width: 110px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 280px;
    border-left: 1px solid #ced7e2;
    padding-left: 8px; }
.tuisong .box-tabel .top .format-file {
    width: 75px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 180px;
    border-left: 1px solid #ced7e2;
    padding-left: 8px; }
.tuisong .box-tabel .top .piyue-num {
    width: 100px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #ced7e2;
    padding-left: 8px; }
.tuisong .box-tabel .list {
    position: relative;
    padding: 14px 0;
    font-size: 0;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden; }
.tuisong .box-tabel .list:nth-child(2n) {
    background-color: #f8f8f8; }
.tuisong .box-tabel .list .check-part {
    position: absolute;
    left: 15px;
    top: 27px; }
.tuisong .box-tabel .list .con-info {
    padding-left: 20px; }
.tuisong .box-tabel .list .link-tit {
    font-size: 14px;
    color: #0a4f9c;
    display: block;
    line-height: 20px;
    width: 670px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
.tuisong .box-tabel .list .subWord {
    width: 670px;
    font-size: 12px;
    color: #666;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
.tuisong .box-tabel .list .file-name {
    width: 75px;
    line-height: 56px;
    position: absolute;
    top: 0;
    right: 180px;
    padding-left: 9px;
    font-size: 12px;
    color: #333; }
.tuisong .box-tabel .list .time-con {
    width: 100px;
    line-height: 56px;
    position: absolute;
    top: 0;
    right: 285px;
    padding-left: 20px;
    font-size: 12px;
    color: #333; }
.tuisong .box-tabel .list .py-icon {
    width: 70px;
    height:56px;
    position: absolute;
    top: 0;
    right: 100px;
    font-size: 12px;
    color: #0a4f9c; }
.py-bg{
    width:26px;
    height:23px;
    background: url("../images/icon_pop_03.png") no-repeat;
    display: block;
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
}
.tuisong .box-tabel .list .py-num {
    width: 100px;
    height:56px;
    line-height: 56px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    color: #0a4f9c;
    text-align: center;
}


.mb17 {
    margin-bottom: 17px; }
.datail-tit{
    height:40px;
    font-size: 12px;
    color: #999;
    padding-left: 20px;
    line-height: 40px;
    position: relative;
}
.has-read,.read-State .state{color: #17971f}
.right-datail-tit{position: absolute;right:10px;top:0;}
.receive-person{width:100px;position: absolute;left:50px;color:#333;font-size:14px; }
.receive-time{width:300px;position: absolute;left:150px;color:#333;font-size:14px;padding-left: 20px; }
.read-state{width:300px;position: absolute;right:0;color:#333;font-size:14px;padding-left: 20px;}
.receive-name{width:100px;line-height:38px;position: absolute;top:0;left:50px;color:#0a4f9c;font-size: 14px;}
.receive-Time{width:300px;line-height:38px;position: absolute;top:0;left:150px;color:#000;padding-left: 19px;font-size: 14px;}
.check-part-t{ position: absolute;left: 15px;top: 17px;}
.read-State{width:300px;line-height:38px;position: absolute;top:0;right:0;color:#000;padding-left: 9px;font-size: 14px;}
.read-State .State-Time{margin-left: 10px;display: inline-block;}