#mini-window-screen{display:none;position: absolute; top: 0; left: 0;width:0;height:0;opacity: 0.4;filter:alpha(opacity=40); background-color: #000;zoom:1;}
#mini-window-window{display:none;position: absolute;overflow:hidden;top: 0; left: 0;width:0;height:0;}

#mini-window-window .up-border, #mini-window-window .down-border {overflow: hidden;}
#mini-window-window .up-border div, #mini-window-window .down-border div{height:1px;background-color:#7CB483;border:0;font-size:0;overflow:hidden;}
#mini-window-window .mub-2, #mini-window-window .mub-3, #mini-window-window .mub-4, #mini-window-window .mub-5{margin:0 1px;}
#mini-window-window .mub-1{margin:0 3px;}
#mini-window-window .mub-2, #mini-window-window .mub-5{border-width:0 2px;}
#mini-window-window .mub-3, #mini-window-window .mub-4{border-width:0 1px;}

#mini-window-window.left-border, .mini-window-window .right-border{overflow: hidden; float: left; background-color:#7CB483; opacity: 0.9;}	
#mini-window-window .right-border{float:right;}
#mini-window-window .center-content{background-color: white;border:5px solid #7CB483;border-width: 4px 7px;}
#mini-window-window .center-content .title-bar{ background-color: #EDF2F5;position:relative;height: 35px;}
#mini-window-window .center-content .title-bar .close-btn{position:absolute;right:0;top:0px;text-decoration:none;color:#CFCFCF;text-align:center;font-size:18px;font-weight:bold;margin-top: 6px; margin-right: 2px;width:20px;height:19px;line-height:19px;display:block;}
#mini-window-window .center-content .title-bar .close-btn:hover{color:#ABAAA8;}
#mini-window-window .center-content .title-bar .title{margin: 0 0 0 10px; padding:0; font-size: 14px; color: #356736; line-height: 35px;}
#mini-window-window .center-content .body-client{padding:15px 0 25px;}
#mini-window-window .center-content .content-client{overflow: auto;}
#mini-window-window .center-content .content-oper{background-color:white;width:150px;margin:0 auto;}
#mini-window-window .center-content .content-oper .input-cancle{background-color:#E2E4E1;border-color:#C5C5C5;margin-left:15px;}
